<html>
	<head>
		<meta charset="utf-8">
		<title>Данные</title>
			<link rel="stylesheet" href="/static/appear.css" type="text/css"/>
	</head>
	<body>
		<form action="/thanks" method="GET">
			<h1 class="heading">Создание базы данных</h1>
			<p class="text">Введите имя файла для текста с insertами:</p>
			<p align = "center"><input type="text" checked name="filename" value=""  class="user"></p>
			<p class="text">Вставьте текст:</p>
			<p align = "center"><input type="textarea" checked name="text" value="" class="user"></p>
			<p class="button"><input type="submit" value="Получить файл с insertами" class="button"></p>
		</form>
	</body>
 </html>